# .env.example
# Sao chép file này thành .env và điền giá trị thật
# File .env đã có trong .gitignore nên không bị commit lên GitHub

APP_USERNAME=standard_user
APP_PASSWORD=your_password_here
BASE_URL=https://www.saucedemo.com
